body{
     font-family: 'Exo Medium','Exo Bold'  !important; 
    } 
.beneficio {
    background-image: url("/img/Presentacion.svg");
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.directorio {
    background-image: url("/img/Presentacion.svg");
    min-height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.asociaciones {
    background-image: url("/img/Presentacion.svg");
    min-height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactenos {
    background-image: url("/img/Presentacion.svg");
    min-height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url("/img/Presentacion.svg");
    min-height: 580px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }